artifactory:
  pro: True
  home: /var/opt/jfrog/artifactory
  mysql:
    username: artifactory
    password: artifactory
    host: localhost
    db: artifactory
    port: 3306
    jdbc_version: 5.1.24